*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;


}
/*

body{
    background: #1f242d;
    color: #fff;
}
*/
body{
    overflow-x: hidden;
}
h1 {
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 100px;
}

#tag {
    font-size: 30px;
}

header>nav {
    float: right;
    list-style: none;
    margin: 10px 15px;
    font-size: 25px;
}
section>h5 {
    font-size: 30px;
    font-weight: inherit;
    padding-left: 80px;
    flex: 1;
    overflow: auto;
}

section>h2{
    font-size: 50px;
    font-weight: bold;
    padding-left: 65px;
    flex: 1;
    overflow: auto;

}
#name {
    font-size: 30px;
    font-weight: bold;
    right: 100px;
}
section>h3 {
    display: inline-block;
    font-size: 40px;
    padding-left: 50px;
    flex: 1;
    overflow: auto;
}

#Professional_color {
    color: #66ff00;
    font-size: 40px;
}

/*section>p>em {
    font-size: 30px;
    padding-left: 50px;
    flex: 1;
    overflow: auto;
}*/
#page1{
    font-size: 30px;
    padding-left: 50px;
    flex: 1;
    overflow: auto;
}

#page2{
    font-size: 30px;
    padding-left: 80px;
    flex: 1;
    overflow: auto;
}

#webPic{
    padding-left: 154px;
    flex: 1;
    overflow: auto;
}
.circle1 {
    height: 650px;
    position: absolute;
    aspect-ratio: 1/1;
    background: #eeebeb;
    border: 8px solid #66ff00;
    border-radius: 80%;

    left: 800px;
    right: 0 ;
    top: 400px;
    bottom: 0;
    margin: auto;
}

#circle2 {
    height: 300px;
    position: absolute;
    aspect-ratio: 1/1;
    background: #eeebeb;
    border: 8px solid #66ff00;
    border-radius: 40%;
}

.header{
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4),transparent);
    transition: .5s;
}
.header:hover::before{
    left: 100%;
}
.logo{
    font-size: 15px;
    text-decoration: none;
    color: #66ff00;
    font-weight: 600;
}
.cyan{
    color: red;
}
.navbar a{
    color: #66ff00;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
}
.navbar a:hover{
    color: black;
    font-weight: 500;
}

#home{
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 5%;
    position: relative;

}
.home-content{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding-bottom: 250px;
    padding-right: 200px;
    z-index: 10;
}
.home-content h3{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 19px;
}

.home-content h2{
    font-size: 50px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;

}
.home-content h5 {
    font-size: 20px;
    font-weight: 200;
    padding-right: 50px;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}
.home-content p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 10px;
}

#role{
    color: #66ff00;
}
.btn1{
    display: inline-block;
    width: 190px;
    height: 50px;
    background: midnightblue;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    color: #eeebeb;
    letter-spacing: 1px;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    padding-left: 100px;

}
.btn:hover{
    box-shadow: 0 0 10px midnightblue;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    background: transparent;
    border: 2px solid #66ff00;
    border-radius: 100%;
    font-size: 20px;
    color: #66ff00;
    text-decoration: none;
    margin: 100px 10px 20px 30px;
    transform: translateY(0);
    transition: transform 0.1s ease, background 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
}

.social-media a:hover {
    background: #66ff00;
    color: #1f242d;
    box-shadow: 0 0 20px #66ff00;
    transform: translateY(-5px);
}

.social-media>a>img {
    padding-left: 100px;
}


/*/////////////////AboutMe/////////////*/
#hero-circle1{
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: #E2E2E3;
    box-sizing: border-box;
    border: 4px solid #66ff00;
    position: absolute;
    left: 15%;
}
.names {
    font-size: 25px;
    font-weight: 150;
    padding-left: 700px;
    padding-bottom: 400px;
}


.page3 {
    font-size: 20px;
    padding-bottom: 90px;
    left: 200px;
}


#main{
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    border: 1px solid aliceblue;
    position: absolute;
    left: 0;
    right: 110px;
    bottom: 0;
    top: 1470px;
    margin: auto;
}
#section {
    display: flex;
    width: fit-content;
    height: fit-content;
    animation-name: my-animation;
    animation-duration: 19s;
    animation-iteration-count: infinite;
}

skils   {
    width: 60vw;
    height: 60vh;
}

#div1:first-child {
    background-image: url("img/icons8-arduino-64.png");
    background-size: cover;
    background-position: center;
}

div:nth-child(2) {
    background-image: url("img/mysql.png");
    background-size: cover;
    background-position: center;
}


@keyframes my-animation {
    0%,20%{
        transform: translateX(0%);
    }
    25%,45%{
        transform: translateX(-25%);
    }
    50%,70%{
        transform: translateX(-50%);
    }
    75%,100%{
        transform: translateX(-75%);
    }
}
.about-col-2 h1{
    font-size: 100px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: inherit;
}

#about{
    padding: 80px 10%;
    color: #141518;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 19px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: crimson;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #66ff00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: crimson;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



/*/////////////project/////////////*/

#portfolio .tab-titles{
    display: inline-flex;
    align-items: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    font-weight: 400;
    color: #141518;
    font-weight: 400;
    width: 100%;
    height: 0;
    background: #66ff00;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #66ff00;
    text-decoration: none;
    font-size: 18px;

    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;

}
.wBtn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0ef;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.wBtn:hover{
    background: #66ff00;
}
#hero-wrapper{
    width: 45vw;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
    top: 100px;
    overflow: hidden;
}
#hero-circle{
    width: 45vw;
    aspect-ratio: 1/1;
    background-color: #E2E2E3;
    border-radius: 50%;
    box-sizing: border-box;
    border: 7px solid #66ff00;
    position: absolute;
    left: 15%;
}















/* --------contact------- */
#contact{
    margin: 80px 0px;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #66ff00;
    margin-right: 15px;
    font-size: 25px;
}
.wBtn.btn2{
    display: inline-block;
    background: #1f242d;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 70%;
    border: 0;
    outline: none;
    background: #61b752;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 80px;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright .heart{
    color: #0ef;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}








